html(ng-app='app')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')

body(ng-controller='IndexController as controller')
  h2 angular-mn-number
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      mn-form.mn-layout-column.mn-layout-sm-row
        mn-number.flex(placeholder='integer number' min='0' max='100' required name='test' ng-model='controller.number')
        mn-number.flex(placeholder='float with precision 3' decimal='3' max='10' min='0' step='0.1' ng-model='controller.number2')
        mn-number.flex(placeholder='money' currency max='10' min='0' ng-model='controller.number3')
        mn-number.flex(placeholder='percentage' percentage ng-model='controller.number4')
        //- button.mn-button submit
        //- button(type='button' ng-click='controller.show()') show

      //- mn-form.mn-layout-column.mn-layout-sm-row
        .flex.mn-layout-column
          span Number: {{ controller.number }}
          mn-number.flex(placeholder='integer number' min='0' max='100' required name='test' ng-model='controller.number')
        .flex.mn-layout-column
          span Decimal: {{ controller.number2 }}
          mn-number.flex(placeholder='float with precision 3' decimal='3' max='10' min='0' step='0.1' ng-model='controller.number2') 
        .flex.mn-layout-column
          span Decimal: {{ controller.number3 }}
          mn-number.flex(placeholder='money' currency max='10' min='0' ng-model='controller.number3')
        .flex.mn-layout-column
          span Decimal: {{ controller.number4 }}
          mn-number.flex(placeholder='percentage' percentage ng-model='controller.number4')

  .docs.mn-layout-container
    mn-code.sh.
      npm install --save angular-mn-number

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage
    mn-code.js.
      // add dependency in you module
      angular.module('app', [
        'mn-number'
      ])

    p And then, in your html, you can use the tag

    mn-code.html.
      <mn-number placeholder="Amount" ng-model='amount'></mn-number>

    p For more details check <a href="https://github.com/minimalist-components/mn-number">mn-number docs</a>.



  block scripts
    script(src='docs/vendor.js')
    script(src='dist/angular-mn-number.js')

  script.
    angular.module('app', [
      'mn-number',
    ])

    var perc = document.querySelector('mn-number[placeholder="percentage"]')

    angular
      .module('app')
      .controller('IndexController', IndexController);

    function IndexController() {
      //- this.number = 1
      //- this.number2 = 10
      //- this.number4 = 0.1

      //- this.show = () => {
      //-   //- console.log('modelValue', this.number4)
      //-   this.number4 = 2
      //- }
    }

